.intro-container {
  margin-bottom: 30px;
  animation-duration: 2s;
  animation-name: slidein;
}

.devTabs-intro {
  border: 1px solid #000;
  border-radius: 6px;
  text-align: center;
  margin-top: 30px;
  padding: 10px;
  box-shadow: 8px 8px grey;
}

.devtabs-intro-text {
  font-size: 0.9rem;
  color: #000;
}

.intro-image {
  text-align: center;
  margin-top: 40px;
  padding-left: 25px;
}

.intro-screenshot {
  border-radius: 6px;
}

@keyframes slidein {
  from {
    margin-left: 300%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
