.intro-devtabs {
  position: relative;
  width: 100%;
  height: 800px;
  background: #dbdbdb;
}

.intro-devtabs:after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background: inherit;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  -webkit-transform-origin: top right;
  transform-origin: top right;
  -webkit-transform: skewY(-4deg);
  transform: skewY(-4deg);
}

.devTabsLogo {
  margin: 40px auto 0;
  padding-bottom: 25px;
}

.info-section {
  margin-top: 150px;
}

.bookmark-image {
  margin: 75px 20px 0 30px;
  max-height: 150px;
  max-width: 150px;
}

.first-paragraph {
  margin: 50px 30px 50px 80px;
}

.github {
  margin-left: 80px;
}

.dev-to {
  margin-left: 240px;
}

.weather {
  margin-left: 360px;
}

.desc-text {
  opacity: 0.95;
}

.evenMore {
  background-color: #dbdbdb;
}

.more-heading {
  padding-top: 65px;
  padding-bottom: 30px;
}

.evenMore-img {
  margin-top: 80px;
  margin-bottom: 130px;
  border-radius: 6px;
  padding-left: 10px;
  padding-right: 10px;
}

.qr-heading {
  margin: 5px auto 50px;
}

.qr-img {
  margin-right: 35px;
}

.qr-title {
  margin-top: 18px;
}

.qr-explain {
  background-color: #eeeeee;
  margin: 15px 0 40px 35px;
  border: 1px solid #000;
  border-radius: 6px;
  -webkit-box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);
  text-align: center;
}

.qrCode-info {
  margin-bottom: 50px;
  padding: 10px;
}

.link-heading {
  margin: 30px auto 40px;
}

.download-links {
  margin: auto;
}
.download-button {
  margin: 30px auto 70px;
}

@media only screen and (max-width: 780px) {
  .intro-devtabs {
    height: 1050px;
  }
  .weather {
    margin-left: -30px;
  }
  .dev-to {
    margin-left: -30px;
  }
  .github {
    margin-left: -30px;
  }
  .bookmark-image {
    margin-left: 85px;
  }
}

@media only screen and (max-width: 960px) {
  .qr-img {
    margin: 5px auto 10px;
  }
  .qr-explain {
    margin: 15px auto 0;
  }
}

@media only screen and (max-width: 632px) {
  .tracking-card {
    margin-left: 10px;
    margin-right: 10px;
  }
}
